<div class="container lgin-form">
     <section style="text-align: center;" class="content">
        <span class="input input--hoshi" ng-class="{ 'input--filled': username }">
          <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="username">
          <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
            <span class="input__label-content input__label-content--hoshi">Username</span>
          </label>
        </span>
        </br>
        <span class="input input--hoshi" ng-class="{ 'input--filled': password }">
          <input class="input__field input__field--hoshi" type="password" id="input-5"ng-model="password">
          <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5" >
            <span class="input__label-content input__label-content--hoshi">Password</span>
          </label>
        </span>
        </br>

        <div class="form-group button-group">
          <div class="text-center">
            <button type="submit" class="btn btn-primary" ng-click="login(username, password)" >Sign in</button>
          </div>
        </div>
      </section>
</div>