.lgin-form {
    margin-top: 10em;

    label {
        font-weight: bold;
    }
}

.author-search-form {
    padding-top: 3em;
    padding-bottom: 1em;
}

.ui-view-container {
    position: relative;
    height: 100%;
}

.search-wrapper {
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.header-wrapper {
}
// Graph styling.
.node {
  stroke: black;
  stroke-width: 2px;
}

.link {
  stroke: lightgrey;
  stroke-opacity: .6;
}

text.label {
    font-size: 14px;
    font-weight: bold;
}

// injector
// endinjector
