<div class="search-wrapper">

    <span class="input input--hoshi" ng-class="{ 'input--filled': searchText }">
      <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="searchText">
      <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
        <span class="input__label-content input__label-content--hoshi">Author Name</span>
      </label>
    </span>
    </br>

    <div class="form-group">
        <div class="text-center">
        <button type="submit" class="btn btn-warning" ng-click="search(searchText)">Search</button>
      </div>
    </div>

</div>